
/* font: Raleway - already linked in html, so can use here */

html {
    font-size: 62.5%; /* 1rem = 10px - use rem */
}

body{
background-color: #191D32;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.masterbox{
  margin: auto;
  vertical-align:middle;
  font-family: 'Raleway';
  background-color: white;
  height: 25%;
  width: 30%;
border-radius: 5px;
}
.box1,.box2,.box3{
  font-family: 'Raleway';
  text-align: center;
  border: 2px solid #e8d284;
  border-radius: 3px;
  margin: 5px 10px;
}
/* .main1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.masterbox1{
  margin-right: auto;
  vertical-align:middle;
  font-family: 'Raleway';
  background-color: white;
  height: 25%;
  width: 30%;
border-radius: 5px;
}
.main2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.masterbox2{
  margin-left: auto;
  vertical-align:middle;
  font-family: 'Raleway';
  background-color: white;
  height: 25%;
  width: 30%;
border-radius: 5px;
/* } */
.box1:hover{
  background-color: yellow;
  /* .box7 : background-color; */
}
.box2:hover{
  background-color: yellow;
}
.box3:hover{
  background-color: yellow;
}
/* .box4,.box5,.box6,.box7,.box8,.box9{
  font-family: 'Raleway';
  text-align: center;
  border: 2px solid #e8d284;
  border-radius: 3px;
  margin: 5px 10px;
} */ */
